
/* START NAVBAR */

.nav-item {
	border-bottom: 1px solid;
	text-align: center;
}
#navbar-header {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.navbar-brand {
	padding-bottom: 10px;
}
#nav-list {
	background-color: #FFD700;
}
#navbar-header strong {
	padding-left: 30px;
	text-transform: uppercase;		
}
.navbar-toggler {
	margin-right: 15px;
	margin-bottom: 7px;
}

/* END NAVBAR */

/* START MAIN CONTENT */
#main_content h2 {
	/*text-align: center;*/
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 35px;
}
#main_content h3 {
	text-align: center;
	font-weight: bold;
}
#season1 {
	background-color: #8FBC8F;
	height: 800px;

}